<%= content_for :view_headyield do %>
<style type="text/css">
  .circle{
    width:20px;
    height:20px;
    margin-top: 10px;
    display: inline-block;
  }
</style>
<%  end %>
<div class="fixed contain-to-grid">

<nav class="top-bar">
  <ul>
    <li class="name"><h1 class="logo-text"><a href="#">HoodWatch</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>
  <section>
    <ul class="left">
      <div class="circle" style="background-color:#04346C"></div>
      <div class="circle" style="background-color:#9F1C20"></div>
      <div class="circle" style="background-color:#4BAB49"></div>
    </ul>

    <ul class="right">
      <li class="has-dropdown">
      <a href="#">Aizzat Suhardi</a>

      <ul class="dropdown">
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
      </ul>    </ul>
  </section>
</nav>

</div>